{% load static %}

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block titulo %}
    <title>Modelo</title>
 {% endblock%}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<img src="/static/img/logo.jfpb.jpg" class="card-img-top" alt="..." style="width: 10%; height: auto;">
{% block menu %}
<div class="bg-dark text-center">
     <p style="color: white;">Justiça Federal da Paraiba</p>
</div>
{% endblock %}

    <a class="btn bg-success" href="{% url 'modelo' %}">Inicio</a>
    <a class="btn bg-primary" href="{% url 'cadastrar-atividade' %}">Cadastrar-Atividade</a>
    <a class="btn bg-success" href="{% url 'cadastrar-campo' %}">Cadastrar-Campo</a>
    <a class="btn bg-primary" >Listar-Atividade</a>
    <a class="btn bg-success" >Listar-Campo</a>
    <a class="btn bg-danger" href="{% url 'sobre' %}">Sobre</a>

{% block destaque %}
<div class="bg-secondary">
    Figuras destaque
</div>
{% endblock %}

{% block Conteudo %}
<div class="container">
    <h3>Template modelo</h3>
    <p>Conteudo do site</p>
</div>
{% endblock %}

{% block rodapé %}
<div class="bg-light">
   rodapé
</div>
{% endblock %}

    <h3> JFPB </h3>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'css/bootstrap.min.css' %}"></script>

</body>
</html>